<form #f="ngForm" (ngSubmit)="submit(f)">

  <div ngModelGroup="contact" #contact="ngModelGroup">
    <div class="form-group">
      <label for="firstName">FirstName</label>
      <input 
        required 
        minlength=3 
        maxlength=6 
        pattern="bucks"
        type="text"
        ngModel name="firstName" 
        #firstName="ngModel" 
        (change)=log(firstName) 
        id="firstName" 
        class="form-control">
      <div 
        class="alert alert-danger" 
        *ngIf="firstName.touched && !firstName.valid">
          <div 
            *ngIf="firstName.errors.required">
            Firstname is a required field
          </div>
          <div 
            *ngIf="firstName.errors.minlength">
            Please enter minimum three characters
          </div>
          <div 
            *ngIf="firstName.errors.pattern">
            Entered text doen't match the pattern
          </div>
      </div>
    </div>
  </div>
<div class="form-group">
  <label for="comment">Comment</label>
  <textarea  ngModel name="comment" id="comment"></textarea>
  <hr>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" ngModel name="isSubscribed"> Subscribe to My  Channel
  </label>
</div>

<div class="form-group">
  <label for="Gadgets">Gadgets</label>
  <select multiple ngModel name="Gadgets" id="Gadgets" class="form-control">
    <option *ngFor="let gadget of gadgets" [ngValue]="gadget">{{gadget.name}}</option>    
  </select>
</div>

<div *ngFor="let gadget of gadgets" class="radio">
  <label>
    <input type="radio" ngModel name="Gadgets" class="form-control" [value]="gadget.id">
    {{gadget.name}}
  </label>
</div>

<hr>
<p>
  {{f.value | json }}
</p>
<button class="btn btn-primary" [disabled]=!f.valid>Submit</button>
</form>
